
.project {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: 'main main'
                        'added text';
}

@media (min-width: 769px) {
    .project {
        grid-template-columns: 5fr 2fr;
        grid-template-areas: 'main added'
                            'text added';
    }
}
@media (min-width: 1024px) {
    .project {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 'main added text';
    }
}
@media (min-width: 1200px) {
    .project {
        width: 80%;
        grid-template-columns: 2fr 0.5fr 0.8fr;
        grid-template-areas: 'main added text';
    }
}
.projectWrapper {
    grid-area: main;
    position: relative;
}
.projectExample {
    max-width: 92%;
    display: block;
    border: 2px solid #403234;
    border-radius: 4px;
    margin: 3px auto;
    background-color: #f7f3f5;
}
.slider {
    width: 90%;
    max-width: 300px;
    margin: 120px auto;
}
.website {
    display: block;
    max-width: 100%;
}
.projectAddition {
    grid-area: added;
}
@media (min-width: 769px) {
    .projectAddition {
        position: relative;
    }
}
.imgSettings {
    display: block;
    width: 100%;
}
.imgSettingsBorder {
    border: 2px solid #403234;
    border-radius: 4px;
    box-sizing: border-box;
}

.arrowLeft,
.arrowRight {
    display: block;
    position: absolute;
    top: 40%;
    background: url('../img/arrow.png') no-repeat;
    background-size: cover;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.arrowLeft:disabled img,
.arrowRight:disabled img {
    opacity: .4;
}
.arrowLeft {
    transform: rotate(180deg);
    left: -10px;
}


@media (min-width: 769px) {
    .arrowLeft {
        top: 52px;
        left: -22px;
        border: 3px solid #403234;
        padding: 0;
    }
    .arrowLeft:disabled {
        background-color: rgba(225, 225, 225, .6);
        border: 3px solid rgba(225, 225, 225, .8);
    }
}
@media (min-width: 1280px) {
    .arrowLeft {
        top: 95px;
    }
}
.arrowRight {
    right: -10px;
}

@media (min-width: 769px) {
    .arrowRight {
        display: none;
    }
}
.arrowRightShifted {
    display: none;
}
@media (min-width: 769px) {
    .arrowRightShifted {
        display: block;
        position: absolute;
        right: -36px;
        top: 52px;
        border: 3px solid #403234;
        padding: 0;
    }
    .arrowRightShifted:disabled {
        background-color: rgba(225, 225, 225, .6);
        border: 3px solid rgba(225, 225, 225, .8);
    }
}
@media (min-width: 1280px) {
    .arrowRightShifted {
        top: 95px;
    }
}
.imgArrow {
    display: block;
    max-width: 30px;
    height: 30px;
}

.description {
    grid-area: text;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (min-width: 1024px) {
    .description {
        margin-left: 50px;
        max-height: 350px;
    }
}
.descriptionTitle {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width: 320px) {
    .descriptionTitle {
        font-size: 18px;
    }
}
@media (min-width: 1280px) {
    .descriptionTitle {
        font-size: 30px;
    }
}

.descriptionExplanation {
    font-family: Montserrat, sans-serif;
    color: #403234;
    font-size: 11px;
}

@media (min-width: 320px) {
    .descriptionExplanation {
        font-size: 15px;
    }
}
@media (min-width: 1280px) {
    .descriptionExplanation {
        font-size: 20px;
    }
}

.descriptionSubtitle {
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 0 5px;
    font-family: Montserrat, sans-serif;
}

@media (min-width: 320px) {
    .descriptionSubtitle {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .descriptionSubtitle {
        font-size: 22px;
    }
}

.descriptionTechnologies {
    font-family: Montserrat, sans-serif;
    display: block;
    margin: 0 0 5px;
    padding: 0 0 0 15px;
    color: #403234;
    font-size: 11px;
}

@media (min-width: 320px) {
    .descriptionTechnologies {
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
    .descriptionTechnologies {
        font-size: 18px;
    }
}

.descriptionButton {
    border: 2px solid #403234;
    box-shadow: 3px 3px 3px #403234;
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    background: #687477;
    text-decoration: none;
}
.descriptionButton:hover {
    box-shadow: 7px 7px 3px #403234;
}
@media (min-width: 769px) {
    .descriptionButton {
        width: 120px
    }
}
@media (min-width: 1280px) {
    .descriptionButton {
        width: 150px;
    }
}

.descriptionLink {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
@media (min-width: 1280px) {
    .descriptionLink {
        font-size: 15px;
    }
}

