@font-face {
    font-family: 'NoticiaText';
    src: url('../../fonts/NoticiaText-Regular.eot');
    src: local('☺'), url('../../fonts/NoticiaText-Regular.woff') format('woff'), url('../../fonts/NoticiaText-Regular.ttf') format('truetype'), url('../../fonts/NoticiaText-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('../../fonts/NoticiaText-Bold.eot');
    src: local('☺'), url('../../fonts/NoticiaText-Bold.woff') format('woff'), url('../../fonts/NoticiaText-Bold.ttf') format('truetype'), url('../../fonts/NoticiaText-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
.header {
    margin: 10px auto;
    max-width: 900px;
    background-color: #eae5e5;
}
@media (max-width: 767px) {
    .header {
        padding: 0 1.5%;
    }
}
.content {
    display: flex;
}
.name {
    margin-right: 20px;
    font-family: NoticiaText;
    font-weight: 700;
    font-size: 40px;
    color: #4d4d4d;
}
@media (max-width: 767px) {
    .name {
        font-size: 30px;
        line-height: 25px;
    }
}
@media (max-width: 376px) {
    .name {
        max-width: 180px;
        font-size: 20px;
        line-height: 20px;
    }
}

.specialization {
    font-size: 18px;
}
@media (max-width: 767px) {
    .specialization {
        font-size: 15px;
    }
}
@media (max-width: 376px) {
    .specialization {
        font-size: 12px;
        line-height: 12px;
    }
}

.burgerMenu {
 display: none;
}
@media (max-width: 767px) {
    .burgerMenu {
        display: block;
        position: absolute;
        right: 1.5%;
        height: 46px;
        min-width: 50px;
        background-color: #4d4d4d;
        border-radius: 3px;
    }

    .burgerMenu:before,
    .burgerMenu:after,
    .burgerMenu span{
        content: "";
        position: absolute;
        left: 30%;
        width: 20px;
        height: 3px;
        background-color: #ffffff;
    }
    .burgerMenu:before {
        top: 13px;
    }
    .burgerMenu:after {
        bottom: 13px;
    }
    .burgerMenu span {
        top: 22px;
    }
}
.navigation {
    align-self: flex-end;
}
.list {
    display: flex;
    width: 315px;
    justify-content: space-between;

    font-size: 14px;
    font-family: NoticiaText;
    font-weight: 700;
    color: #8b8b8b;
}
@media (max-width: 767px) {
    .shown {
        display: block;
    }
    .hidden {
        display: none;
    }
    .list {
        position: absolute;
        top: 50px;
        right: 1.5%;
        flex-direction: column;
        width: 97%;

        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    .link {
        background-color: #8b8b8b;
        opacity: .9;
        border-bottom: 1px solid white;
        height: 30px;
        padding-left: 10px;
        padding-top: 8px;
    }
}
.link {
    list-style: none;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .link {
        background-color: #8b8b8b;
        opacity: .9;
        border-bottom: 1px solid white;
        height: 30px;
        padding-left: 10px;
        padding-top: 8px;
    }
}
.active {
    color: #61d0d4;
}
@media (max-width: 767px) {
    .active {
        background-color: #61d0d4;
        color: white;
    }
}