@font-face {
    font-family: 'NoticiaText';
    src: url('../../fonts/NoticiaText-Regular.eot');
    src: local('☺'), url('../../fonts/NoticiaText-Regular.woff') format('woff'), url('../../fonts/NoticiaText-Regular.ttf') format('truetype'), url('../../fonts/NoticiaText-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('../../fonts/NoticiaText-Bold.eot');
    src: local('☺'), url('../../fonts/NoticiaText-Bold.woff') format('woff'), url('../../fonts/NoticiaText-Bold.ttf') format('truetype'), url('../../fonts/NoticiaText-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
.footer {
    height: 120px;
    background-color: #e83556;
    padding-top: 20px;
}
.content {
    max-width: 900px;
    margin: 0 auto;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .contacts {
        height: 110px;
    }
}

.contactsTitle {
    color: #fff;
    font-family: NoticiaText;
    font-weight: 700;
    font-size: 14px;
}
@media (max-width: 767px) {
    .contactsTitle {
        font-size: 17px;
    }
}
.contactsEmail {
    color: #fff;
    font-family: NoticiaText;
    font-size: 12px;
}
@media (max-width: 767px) {
    .contactsEmail {
        font-size: 15px;
    }
}
.social {
     display: flex;
     justify-content: space-between;
     width: 110px;
 }
@media (max-width: 767px) {
    .social {
        width: 150px;
    }
}
.socialLogo {
    width: 30px;
    height: 30px;
}
@media (max-width: 767px) {
    .socialLogo {
        width: 45px;
        height: 45px;
    }
}
