.title {
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    display: inline-block;
}
.rangeSlider {
    display: flex;
}
.group {
    display: flex;
}
.panel {
    border: 3px solid black;
    padding: 5px 3px;
    background-color: lightblue;
    border-radius: 10px;
    height: 300px;
    width: 170px;
    font-size: 25px;
    font-weight: 700;
}
.panelOption{
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    margin: 3px 0;
}
.panelOption input {
    max-width: 75px;
}
.rangeSlider_first{
    width: 400px;
    margin: 200px 50px 330px 50px;
}
.rangeSlider_second{
    width: 500px;
    margin: 250px 50px 350px 50px;
}
.rangeSlider_third{
    width: 250px;
    margin: 100px 50px;
}
.rangeSlider_forth{
    width: 350px;
    margin: 100px 50px 200px;
}