.app {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-width: 280px;
    min-height: 100vh;
    background-color: #e2c2b3;
}

@media (min-width: 1024px) {
    .app {
        display: grid;
        grid-template-columns: 240px calc(100vw - 240px);
    }
}

.menuBurger {
    display: block;
}
.sideBar {
    display: none;
}
.content {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 20px;
}

@media (min-width: 1024px) {
    .menuBurger {
        display: none;
    }
    .sideBar {
        display: block;
        background: #403234;
    }
    .content {
        background-color: #e2c2b3;
        max-width: calc(100vw - 240px);
    }
}


